@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
:root {
  /* Base */
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg-color: #f5f2eb;
  --link-color: #0f1b26b2;

  /* Brand */
  --color-primary: #c97a41; /* Orange used for "Customizable Cabins", buttons */
  --color-secondary: #6b7280; /* Neutral gray (About Us, Contact links) */
  --color-accent: #1e3a8a; /* Blue shade (if needed for highlight) */

  /* Text */
  --text-muted: #9ca3af; /* Muted gray */
  --text-dark: #0f1b26; /* Strong dark */
  --text-dark-25: #0f1b2640; /* Strong dark */
  --text-dark-50: #0f1b2680; /* Strong dark */

  --text-light: #ffffff; /* White text */
  --text-dark-light: #0f1b2699;
  --text-lighter: #ffffffb3;
  --text-light-25: #ffffff40;
  --text-light-50: #ffffff80;
  --text-light-60: #ffffff99;
   --text-light-70: #ffffffb3;

  /* Section Backgrounds */
    --section-accent-50: #f5f2eb80; /* Beige (nav + light section bg) */

--section-light: #ffffff; /* Default light background */
  --section-accent: #f5f2eb; /* Beige (nav + light section bg) */
  --section-dark: #0f172a; /* Deep navy (footer/dark sections) */
  font-family: var(--font-eudoxus), sans-serif;
}

body {
  overflow-x: hidden;
}

/* Example CSS for the hover effects */
.milestone-card-hover {
  transform: translateY(-10%); /* This will move the card up by 10% */
  /* You may need to adjust the value based on your layout */
}

.milestone-card-title-stack {
  display: flex;
  flex-direction: column;
}

.milestone-card-button-stack {
  position: absolute;
  top: 0;
  right: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
